@charset "utf-8";
/* CSS Document */

/* ===== BASIC SETUP ===== */
* {
    font-family: 'Roboto', 'Helvetica', 'Arial','San Serif'; 
    text-decoration: none;
    
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;
    
    list-style: none;
    scroll-behavior: smooth;
}

html {
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-align: left;
    
    background-color: white;  
}

a:visited, a:link { color: white; text-decoration: none; }
a:visited:hover, a:link:hover { text-decoration: underline; }
.button { background-color: black; margin: 5; padding: 5px; }
td { padding-left: 20px; }

section {
	margin: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.featured, .guide, .policy, .location {
	background-color: white;
	padding: 40px 30px 30px 30px;
}
.featured {	box-shadow: 0px 3px 10px 0px black; }
.slideshow { padding-top: 169px; }
.policy ul { padding: 20px 40px }
.policy ul li { list-style: square; }

.container-s0, .container-s1{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.container-s2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.container-s0 div img {
	margin: auto;
	align-self: center;
	width: 100%;
	position: fixed;
	z-index: -1;
}
.container-s0 { height: 300px; }
.container-s1 { margin-top: 20px; }

.block-s0, .block-s1 {
	width: 300px;
	margin-right: 2%;
	margin-bottom: 20px;
	background-color: #F1F1F1;
	overflow: hidden;
	border: 10px solid #F1F1F1; 
	
	display: flex;
	flex-direction: column;
	align-content: space-around;
}
.block-s1 { width: 100%; flex-direction: row; flex-wrap: wrap; }
.block-s0 .nestedblock { margin: auto; margin-left: 0px; margin-bottom: 5px; }
.block-s0:last-of-type { margin-right: 0px;}
.block-s0 img { 
	height: 200px;
	margin: auto; margin-top: 0px; margin-bottom: 20px;
}
.block-s1 img { height: 200px; margin: 5px; }
.block-s0 a { 
	justify-content: flex-end; 
}


header, footer { 
	position: fixed; width: 100%;
	z-index: 99;  
	box-shadow: 0px -3px 10px 0px black; 
	background-color: white;
}
footer {
	display: flex;
	flex-direction: row;
	position: static; 
	box-shadow: none;
	border-top: 25px solid;
	padding: 20px 30px;
}
.top, .mid, .bot { padding: 10px 30px;}

.top {
	background-color: #565656;
	display: none;
}


.mid {
	padding: 45px 30px 10px 30px;
	height: 125px;
	width: 100%;
}
.slogan { margin-left: 50px; }
.logo { height: 50px;}
.wj-right { margin-left: auto; text-align: right; }

.open, .close { font-weight: 600; }
.open { color: green; }
.close { color: red; }


.bot {
	background-color: #2A2A2A;
	color: white;
}
.bot ul, .mid {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.bot ul li {
	margin-right: 5%;
}